  
  body {
    margin: 0;
    
  }
  
  * {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

.col-1 {width: 8.33vw;}
.col-2 {width: 16.66vw;}
.col-3 {width: 25vw;}
.col-4 {width: 33.33vw;}
.col-5 {width: 41.66vw;}
.col-6 {width: 50vw;}
.col-7 {width: 58.33vw;}
.col-8 {width: 66.66vw;}
.col-9 {width: 75vw;}
.col-10 {width: 83.33vw;}
.col-11 {width: 91.66vw;}
.col-12 {width: 100vw;}

html {
  font-family: "Lucida Sans", sans-serif;
}

  .sticky_nav {
    position: sticky;
    top:0;
  }

  ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	}
	ul.nav .active {
		background-color: white;
		color: #373737
	}			  
	/* Add a gray right border to all list items, except the last item (last-child) */
	ul.nav li {
		border-right: 1px solid white;
	}
	
	ul.nav li:last-child {
		border-right: none;
	}
	
	ul.nav li {
		float: left;
	}
	
	ul.nav li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 2vw;
	}
	
	/* Change the link color to #111 (black) on hover */
	ul.nav li a:hover {
		background-color: white;
		color: #373737
	}
	
	#header{
		display: flex;
    width: 100vw;
		background-color: #303030;
		height: 20vw;
    /*background-color: green;*/
	}
	
	#header h1 {
		text-align: center;
		color: white;
		font-size: 5vw;
	}

.avatar {
  width: inherit;
  height: inherit;
  
}

img {
    image-orientation: from-image;
}

.ProfileLabel {
  font-size: 1vw;
  color: #373737;
  padding: 5px;
  width: 15vw;
  background-color: white;
  text-align: center;
  margin-left: 10vw;
}

.center {
  margin: auto;
  line-height: 1vw;
  padding: 10px;
  height: 20vw;
  /*border: 3px solid green;*/
}