ul.nav {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #373737;
}
ul.nav .active {
  background-color: white;
  color: #373737
}			  
/* Add a gray right border to all list items, except the last item (last-child) */
ul.nav li {
  border-right: 1px solid white;
}

ul.nav li:last-child {
  border-right: none;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.nav li a:hover {
  background-color: white;
  color: #373737
}

